.backgroundsauce{
    background-image: url(media/betterpizzabackground.jpg);
    background-size: cover;
  }

  .header{
      font-family: 'Italianno', cursive;
      text-align: center;
      
  }

  .header1{
    font-size: 150px;
    margin: 0rem;
  }
  
  .header2{
    font-size: 100px;
  }

  .body1{
    font-family: 'Italiana', serif;
    background-color: color(primary);
  }