.founder{
    display: flex;
    justify-content: space-around;
  }

  .chef{
    height: 50rem;
    width: auto;
    margin: 2rem;
    border: 6px black solid;
    filter: grayscale(100)
  }

  .chefquote{
    display: flex;
    flex-direction: column;
  }

  .mario{
    font-family: 'Italianno', cursive;
    font-size: 64px;
    margin: 0rem;
  }

  .words{
    font-family: 'Italiana', serif;
    font-size: 48px;
    
  }