.founder{
    display: flex;
    justify-content: space-around;
  }

  .chef{
    height: 50rem;
    width: auto;
    margin: 2rem;
  }

  .chefquote{
    display: flex;
  }

  .mario{
    font-family: 'Italianno', cursive;
  }

  .words{
    font-family: 'Italiana', serif;
    font-size: 48px;
  }