.menublock{
    display: flex;
   justify-content: center;
   }
   
   .menu{
    width: 180rem;
    height: 80rem;
    opacity: .6;
     /*@include tablet;
    width: 60rem;
    height: 40rem;
    opacity: 1;*/
   }
 
   .menu:hover{
     opacity: 1;
   }