.menublock{
    display: flex;
   justify-content: center;
   }
   
   .menu{
    width: 150rem;
    height: 60rem;
    opacity: .6;
    margin: 3rem;
     /*@include tablet;
    width: 60rem;
    height: 40rem;
    opacity: 1;*/
   }
 
   .menu:hover{
     opacity: 1;
     transform: scale(1.1);
     transition: all .2s ease-in-out;
   }