.reviews{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Italiana', serif;
}

.introreview{
  text-align: center;
  font-size: 48px;
  @include phone{
    font-size: 24px;
    margin: 1;
  };
}

.review1{
  background-color: color(primary);
  @include phone{
    font-size: 12px;
  };
}

.review2{
  background-color: color(primary);
  @include phone{
    font-size: 12px;
  };
}

.review3{
  background-color: color(primary);
  @include phone{
    font-size: 12px;
  };
}