$phone: 600px;
$tablet: 1200px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
      @content;
    }
  } 

  @mixin phone {
    @media (max-width: #{$phone}) {
      @content;
    }
  } 
  
 $colors:(
  secondary: rgb(184, 0, 0),
  primary: rgb(226, 55, 55),
) ;

@function color($color-name){
  @return map-get($colors, $color-name);
}
