$phone: 600px;
$laptop: 900px;
$tablet: 1100px;



@mixin laptop {
    @media (max-width: #{$laptop}) {
      @content;
    }
  }
@mixin tablet {
    @media (max-width: #{$tablet}) {
      @content;
    }
  } 

  @mixin phone {
    @media (max-width: #{$phone}) {
      @content;
    }
  } 
  
 $colors:(
  secondary: rgb(255, 26, 9),
  primary: rgb(253, 80, 71),
) ;

@function color($color-name){
  @return map-get($colors, $color-name);
}
