@import "./variables";
@import "./background";
@import "./food";
@import "./menu";
@import "./founder";
@import "./reviews";

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background-color: color(secondary);
   
  }
  
  .bottomtext{
    font-family: 'Italiana', serif;
    font-size: 20px;
    text-align: center;
    background-color: color(primary);
  }
  
  
  
 
  
 


  
 
  

 



