@import "./variables";
@import "./background";
@import "./food";
@import "./menu";
@import "./founder";
@import "./reviews";
@import "./icons";

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: color(secondary);
   
  }
  
  .bottomtext{
    font-family: 'Italiana', serif;
    font-size: 20px;
    text-align: center;
    background-color: color(primary);
    @include tablet{
      font-size: 16px;
    }
    @include phone{
      font-size: 14px;
    }
  }