@import "./variables";

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background-color: color(secondary);
   
  }
  .backgroundsauce{
    background-image: url(media/betterpizzabackground.jpg);
    background-size: cover;

  }

  .header{
      font-family: 'Italianno', cursive;
      text-align: center;
      
  }
  
  .header1{
    font-size: 150px;
  }
  
  .header2{
    font-size: 100px;
  }
  
  .body1{
    font-family: 'Italiana', serif;
    background-color: color(primary);
  }
.body2{
  font-family: 'Italiana', serif;
    background-color: color(primary);
}

  
  .foodblock{
    display: flex;
    justify-content: space-around;
  }
  
  .food1{
    width: 40rem;
    height: 30rem;
    opacity: .5;
    @include tablet{
      width: 20rem;
      height: 15rem;
      opacity: 1;
    }
  }
  .food2{
    width: 40rem;
    height: 30rem;
    opacity: .5;
    @include tablet{
      width: 20rem;
      height: 15rem;
      opacity: 1;
    }
  }
  .food3{
    width: 40rem;
    height: 30rem;
    opacity: .5;
    @include tablet{
      width: 20rem;
      height: 15rem;
      opacity: 1;
    }
  }
  
  .food1:hover{
    opacity: 1;
  }
  .food2:hover{
    opacity: 1;
   
  }
  .food3:hover{
    opacity: 1;
    
  }
  
  .bottomtext{
    font-family: 'Italiana', serif;
    font-size: 20px;
    text-align: center;
    background-color: color(primary);
  }
  
  .menublock{
   display: flex;
  justify-content: center;
  }
  
  .menu{
   width: 180rem;
   height: 80rem;
   opacity: .6;
   @include tablet;
   width: 60rem;
   height: 40rem;
   opacity: 1;
  }

  .menu:hover{
    opacity: 1;
  }
